 body {
    background: #cccccc;
 }

 p {
    text-align: center;
 }

 em strong {
    color: red;
 }

 .container {
    width: 940px;
    margin: auto;
 }


 header div.container {
    display: flex;
 }

 .produtos {
    margin-top: 50px;
    padding: 0;
 }

 .produtos li {
    display: inline-block;
    text-align: center;
    width: 28;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
 }

 .produtos h2 {
    font-size: 25px;
    font-weight: bold;
 }

 .produto-descricao {
    font-size: 18px;
 }

 .produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }

 .produto li :hover {
    border: 2px solid gold;
 }

 header ul li a:hover {
    color: gold
 }

 .produtos li img {
    max-width: 250px;
 }